<!DOCTYPE html>
   <head>
        <title>Form</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src = "script.js"> </script>
   </head>
   <body>
        <div >
            <h1 class = "hd"> Form</h1>
            <div class = "bg1 d-flex flex-row justify-content-center align-items-center">
                <form id = "form" action = "/submit" method = "post" class = " ">
                    <label for = "name" class = "inp">Name</label></br>
                    <input type = "text" id = "name" name = "name" />
                    </br> </br>
                    <label for = "email" class = "inp">Email</label></br>
                    <input type = "email" id = "email" name = "email" />
                    </br></br>
                    <label for = "pass" class = "inp">Password</label></br>
                    <input type = "password" id = "pass" name = "password" />
                    <button type = "submit" class = "btn ">Submit</button>
                </form>
                
            </div>
            
        </div>

    </body>
    <script>
        document.getElementById("form").addEventListener("submit", function(event){
            //event.preventDefault();
            alert("Form submitted!");
            document.getElementById("name").value = "";
            document.getElementById("email").value = "";
            document.getElementById("pass").value = "";
        });
    </script>
   
</html>